<% layout('/layouts/boilerplate')%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <h2>Edit your List:</h2>
      <div class="mb-3">
        <label for="title" class="form-lable">Enter Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Title"
          class="form-control"
          value="<%=listing.title%>"
          required
        />
        <div class="invalid-feedback">please enter valid title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-lable">Enter Description</label>
        <input
          type="text"
          name="listing[description]"
          placeholder="Description"
          class="form-control"
          value="<%=listing.description%>"
          required
        />
        <div class="invalid-feedback">please enter valid description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-lable">Enter Image URL</label>
        <input
          type="text"
          name="listing[image]"
          placeholder="Image URL"
          class="form-control"
          value="<%=listing.image%>"
        />
        <div class="invalid-feedback">please enter valid URL</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label"> Enter price</label>
          <input
            type="number"
            name="listing[price]"
            placeholder="Price"
            class="form-control"
            value="<%=listing.price%>"
            required
          />
          <div class="invalid-feedback">please enter valid Price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Enter location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Location"
            class="form-control"
            value="<%=listing.location%>"
            required
          />
          <div class="invalid-feedback">please enter valid location</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Enter country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="Country"
          class="form-control"
          value="<%=listing.country%>"
          required
        />
        <div class="invalid-feedback">please enter valid country</div>
      </div>
      <br />
      <button type="submit" class="btn btn-dark edit-btn mt-3 mb-3">
        Done
      </button>
    </form>
  </div>
</div>
